@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&family=Poppins:wght@200;300;400;500;600&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Lobster", "Poppins", sans-serif;
  @apply min-h-screen overflow-x-hidden flex items-center justify-center !bg-[hsl(0,0%,98%)];
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 3rem;
  min-height: 100vh;
  width: 100vw;
}

table {
  border-collapse: collapse;
  text-indent: 0;
}

tbody tr td {
  padding: 20px 10px;
}

/* tbody tr {
  @apply hover:bg-gray-200;
} */

thead tr {
  margin-bottom: 1rem;
  padding: 20px 10px;
}
